.lowersection{
  /* display:flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* font-size: 20px; */
  /* padding: 20px 0px; */
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  /* justify-content: center */
}

.reviewsection{
  /* float: left; */
  padding: 20px 0px;
  /* justify-content: center; */
  /* display: inline-block; */
  border-bottom: 1px solid rgb(179, 179, 179);
  box-sizing: border-box;
}
.reviewdetails{
  float: left;
  color: #008489 !important;
  font-size: 14px;
  justify-content: center;
  /* line-height: 22px; */
}
.price{
  /* padding-top: 20px; */
  font-size:16px;
  color:#484848;
  line-height: 22px;
}

.buttonContainer{
  /* display:flex; */
  float: right;
}
.seeDatesButton{
  line-height: 22px;
  /* display: inline-block; */
  /* overflow: auto; */

  min-width: 90.5px;
  width: auto;
  height: auto;
  padding: 12px 24px;
  border-radius:4.2px;

  background-color: rgb(255, 90, 95);
  color:white;
  font-size: 18px;
  font-weight:240 !important;
  text-align:center;
  /* letter-spacing: normal !important; */

  justify-content: center;
};