.lowersection{
  /* display:block; */
  /* flex-direction: column; */
  font-size: 20px;
  padding: 20px 0px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  justify-content: center
}

.review{
  float: left;
}
.reviewdetails{
  float: left;
  color: #008489 !important;
  font-size: 14px;
}
.price{
  color:#484848
}


.seeDatesButton{
  line-height: 22px;
  display: inline-block;
  float: right;
  overflow: auto;
  background-color: rgb(255, 90, 95);
  width: auto;
  height: auto;
  padding: 12px 24px;
  color:white;
  font-size: 16px;
  font-weight:240 !important;
  text-align:center;
  /* font-size-adjust: initial; */
  min-width: 77.5px;
  border-radius:4px;
  letter-spacing: normal !important;
};