.container{
  padding: 10px 0px;
  justify-content: center;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.socialmediabutton{
  margin-right:25px;
}
.mailbutton{
  padding-top:20px;
  margin-top:20px;
  /* padding-top:5px; */
  width:3px;
  height:4px;
}
.save{
  float:right;
  /* margin-top:25px; */
}